# IDE files
/.idea

# OS files
.DS_Store

# Node modules
/node_modules
/yarn.lock
/package-lock.json

# Composer
/composer.lock
/vendor

# Tests
/tests/coverage
/.phpunit.cache

# Tools
/tools/**/vendor
/.php-cs-fixer.cache
