# Git
.gitattributes export-ignore
.gitignore export-ignore

# Tools
.editorconfig export-ignore
.php-cs-fixer.php export-ignore
phpmd.xml export-ignore
phpunit.xml export-ignore
psalm.xml export-ignore
tools export-ignore

# Plugin
.github export-ignore
tests export-ignore
